In [1]:
import os
os.chdir("..\..\..\..")
os.getcwd()

'C:\\Users\\Sreyam Dasgupta\\rec_sys\\recommender_systems_playground'

In [2]:
import pandas as pd
import numpy as np
from recommenders.models.sar import SAR
from recommenders.evaluation.python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k
from recommenders.models.cornac.cornac_utils import predict_ranking
from recommenders.utils.timer import Timer

In [3]:
from rec_sys_modules.utils import train_test_split, rename_primary_cols

In [4]:
data = pd.read_csv("data/kaggle/books/Ratings.csv")
data.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
data, rename_dict = rename_primary_cols(data,'User-ID','ISBN','Book-Rating')
data.head()

   userID      itemID  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [12]:
rename_dict

{'User-ID': 'userID', 'ISBN': 'itemID', 'Book-Rating': 'rating'}

In [6]:
data = data[data.groupby('itemID')['itemID'].transform('size') > 150]
len(data)

92666

### Important params

In [7]:
TOP_K = 10

### Split

In [8]:
train_df, val_df, test_df = train_test_split(data, 'userID','itemID',train_percentage=0.8,val_percentage=0.1)

It is recommended to do the split based on a time columns
We are not recommending for new users or new items
Train size: 74132
Validation size: 7381
Test size: 7515

### Model Fit

In [19]:
header = {
    "col_user": "userID",
    "col_item": "itemID",
    "col_rating": "rating",
    "col_prediction": "prediction",
}

In [24]:
model = SAR(
    similarity_type="cosine", 
    **header
)

In [25]:
model.fit(train_df)

### Predict

In [28]:
all_predictions = model.recommend_k_items(val_df, top_k=30, remove_seen=True)
all_predictions.head()

C:\Users\Sreyam Dasgupta\anaconda3\envs\rec_sys_env\lib\site-packages\scipy\sparse\_data.py:124: RuntimeWarning: invalid value encountered in multiply
  return self._with_data(self.data * other)

   userID      itemID  prediction
0   42520  044021145X    1.013961
1   42520  0440224675    0.981266
2   42520  0440206154    0.951747
3   42520  0385484518    0.937043
4   42520  1559029838    0.917663

In [29]:
k = 10
eval_map = map_at_k(val_df, all_predictions, col_prediction='prediction', k=k)
eval_ndcg = ndcg_at_k(val_df, all_predictions, col_prediction='prediction', k=k)
eval_precision = precision_at_k(val_df, all_predictions, col_prediction='prediction', k=k)
eval_recall = recall_at_k(val_df, all_predictions, col_prediction='prediction', k=k)

print("MAP:\t%f" % eval_map,
      "NDCG:\t%f" % eval_ndcg,
      "Precision@K:\t%f" % eval_precision,
      "Recall@K:\t%f" % eval_recall, sep='\n')

MAP:	0.072485
NDCG:	0.097672
Precision@K:	0.022818
Recall@K:	0.147125